<form method="POST" action="/display_puppy">
  <p>Name</p>
  <input type="text" name="name">
  <p>Breed</p>
  <input type="text" name="breed">
  <p>Age</p>
  <input type="text" name="age">
  <input type="submit" id="submit">
</form>.
